body{font-family: 'Vollkorn', serif;
margin: 0%;}
h1{
  font-size: 40px;
  font-weight: 700;
  padding:  0px 20px 0px 20px;}
.heading{
  font-size: 40px;
  font-weight: 700;
  color: cornflowerblue; }
.secondD{
  font-size: 15px;
  font-weight: 10;
  color: purple;
  text-align: left;
  padding: 10px 10px 10px 10px;}
img{
  width: 70%;
  height: 95%;
  border-radius: 15%;
  padding: 20px 20px;}
section{
  display: flex;}

  .link-button{
   text-decoration: none;
   background-image: -webkit-linear-gradient(lavender, violet);
   color: white; 
   padding: 5px 10px;
   border-radius: 5px;
  }
  .top{
    background-image: url(images/pink-background.jpg);
  }